.main-container{
  background-color:white;
  font-family:'Times New Roman', Times, serif;
  display: flex;
  flex-direction: column;
}

.title{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(212, 209, 209);
  height: 100px;
}

.title h1{
  font-size:6vw;
  font-weight:normal;
}

.title img{
  height: 17.5vh;
  width: 33vw;
  padding-left: 2vw;
  padding-right: 2vw;
}

.img-container{
  display: flex;
  height: 200px;
  align-items: center;
  justify-content: center;
  background-color: rgb(156, 67, 67);
}
